* {
    margin: 0;
    padding: 0;
}

#kontener {
    height: 600px;
    border: 1px solid back;
    background: grey;
    padding: 45px;  

}
/*    padding robi margines, odsuwa od krawędzi*/

#kontener > div {
    width: 100%;
    height: 250px;
    background: yellow;
}

#kontener #kont_1 {
    margin-bottom: 100px;
    position: relative;
    top: 100px;
    left: 60px;
}
#kontener #kont_1 p {
    position: absolute;
    top: 100px;
    left: 50px;
}

